:root {
  --brand-color: #404bf4;
  --primary-white-color: #ffffff;
  --body-color: #434455;
  --clasic-background-color: #f4f4fd;
  --footer-color: #2e2f42;
  --button-color: #4d5ae5;
  --label-color: #8e8f99;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.title {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 112px 0;
  margin: 0 auto;
  max-width: 428px;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .title {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .title {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}
.logo-name {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-down-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.company-activity {
  background-color: white;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-workers {
  background-color: #f4f4fd;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.valuables-list {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .valuables-list {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .valuables-list {
    display: flex;
    font-size: 20px;
    line-height: 1.2;
  }
}

.valuables-descr {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1158px) {
  .valuables-descr {
    font-weight: 400;
  }
}

.valuables-list-descr {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 24px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.main-button {
  background-color: #4d5ae5;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  text-decoration: none;
}
.main-button:hover {
  color: white;
  background-color: #404bbf;
}
.main-button:focus {
  background-color: #404bbf;
}
.other-buttons {
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.other-buttons:hover,
.other-buttons:focus {
  color: white;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.apps {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.apps:hover,
.apps:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.footer-descr {
  color: #f4f4fd;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.input-list {
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navyblue, #2e2f42);
}
.current {
  color: #404bbf;
  position: relative;
}
.current::after {
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: border-radius 2px;
}

.input-list:hover,
.input-list:focus {
  color: #404bbf;
}

.pages {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pages::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contains {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contains:hover,
.contains:focus {
  transform: translateY(0%);
}
address {
  font-style: normal;
}
.wrapper {
  font-size: 56px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 72px;
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .wrapper {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 48px;
  }
}
.valuables {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.valuables-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
  text-align: center;
}
.image-company-box {
  display: none;
  background-color: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1158px) {
  .image-company-box {
    display: flex;
  }
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  color: #f4f4fd;
}
.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list:hover,
.contacts-list:focus {
  color: #404bbf;
}

.section-team {
  background-color: #f4f4fd;
  min-height: 732px;
}
.section {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.specialists {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .photo {
    row-gap: 64px;
    column-gap: 24px;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .specialists {
    display: inline-flex;
  }
}

/* Phone screen */

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.site-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-line {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 120px;
}
@media only screen and (min-width: 1158px) {
  .logo-line {
    gap: 76px;
  }
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .menu {
    display: none;
  }
}
.menu-contact {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .menu-contact {
    flex-direction: column;
    justify-content: right;
    gap: 12px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.top-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
*,
::after,
::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section 1 */
.company-strategy {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .company-strategy {
    padding: 120px 0;
  }
}
.list-item {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.pictures {
  margin-top: 0;
  padding-bottom: 120px;
}
@media only screen and (max-width: 1157.98px) {
  .pictures {
    display: none;
  }
}
.picture-company {
  display: flex;
  gap: 24px;
}
.pic-description {
  width: calc((100% - 48px) / 3);
}
.profession {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.portfolio-class {
  border-bottom: 1px solid #e7e9fc;
}
.portfolio-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adress-info {
  display: flex;
  gap: 40px;
}
.buttons {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.company-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app-img {
  position: relative;
  overflow: hidden;
}

.address-info {
  display: flex;
  gap: 40px;
}
.company-pic {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.img-decript {
  width: calc((100% - 48px) / 3);
}
.email-info {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
}
.social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-media {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.logotype {
  fill: #f4f4fd;
}

.section-name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}
.client-pic {
  flex-basis: calc((100% - 16px) / 2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 88px;
}
@media only screen and (min-width: 768px) {
  .customers .container {
    padding: 0 92px;
  }
  .clients {
    column-gap: 24px;
    justify-content: center;
  }
  .client-pic {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers .container {
    padding: 0 0;
  }
  .client-pic {
    flex-basis: calc((100% - 24px * 5) / 6);
  }
}
.client-img {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-img:hover,
.client-img:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.foot-class {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .foot-class {
    align-items: baseline;
    max-width: 584px;
  }
}
@media only screen and (min-width: 1158px) {
  .foot-class {
    max-width: 1158px;
  }
}
.social-media-class {
  padding-left: 0;
}
@media only screen and (min-width: 1158px) {
  .social-media-class {
    margin-right: 80px;
  }
}
.footer-bottom {
  padding-left: 0;
  justify-content: flex-start;
}
.logo-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .logo-contain {
    display: block;
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .logo-contain {
    margin-right: 120px;
  }
}

.social-m {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-icon {
  display: flex;
  gap: 16px;
}
.link-item {
  width: 40px;
  height: 40px;
}
.social-id {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-id:hover,
.social-id:focus {
  background-color: #31d0aa;
}
.id-media {
  fill: #f4f4fd;
}
.client-logo {
  fill: currentColor;
}
.social-media-class {
  display: flex;
  flex-direction: column;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
}
@media only screen and (max-width: 767.98px) {
  .modal {
    width: calc(100% - 36px);
  }
}
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-down {
  background-color: #2e2f42;
  padding: 100px 0;
  min-height: 312px;
}
.port-footer {
  display: flex;
  align-items: baseline;
}
.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icons-logo-foot {
  display: flex;
  gap: 16px;
}
.card-content {
  position: relative;
  overflow: hidden;
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps:hover .overlay,
.apps:focus .overlay {
  transform: translateY(0);
}

/* Modal form */

.modal {
  padding: 72px 24px 24px 24px;
}

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--footer-color);
  margin-bottom: 16px;
}
.modal-form-contain {
  margin-bottom: 8px;
}
.modal-text-input {
  margin-bottom: 16px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate, #8e8f99);
  display: block;
  margin-bottom: 4px;
}
.modal-form-field {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input::placeholder {
  opacity: 0;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}
.modal-form-input:focus::placeholder {
  opacity: 1;
  transition-delay: 0s;
}

.modal-form-input:focus,
.modal-form-comment:focus,
.checkbox-modal:focus {
  border-color: #4d5ae5;
}

.checkbox-modal {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
}

.checkbox-modal:checked + .modal-form-agreement > .modal-form-desc {
  background-color: #404bbf;
  border: none;
  fill: var(--clasic-background-color);
}
.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.modal-form-agreement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-color);
}

.modal-form-desc {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 5px;
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal-form-link {
  color: var(--iris, #4d5ae5);
  text-decoration: underline;
}
.modal-form-input {
  padding-left: 38px;
}
.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  stroke: #4d5ae5;
  fill: #4d5ae5;
}
.modal-form-field {
  position: relative;
}
.modal-comment {
  margin-bottom: 16px;
}
.checkbox-container {
  margin-bottom: 24px;
}
/* Footer form */
.footer-bottom {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767.98px) {
  .social-media-class {
    align-items: center;
  }
  .footer-bottom {
    align-items: center;
  }
  .foot-class {
    justify-content: center;
  }
}
.button-form {
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}
.button-form-icon {
  fill: none;
  stroke: #ffffff;
  margin-left: 16px;
}

.button-form:hover,
.button-form:focus {
  color: white;
  background-color: #404bbf;
}

/* Subscribe */
.subscribe-class {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: transparent;
  color: #ffffff;
  transition: border-color var(--animation);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}
.footer-form-input::placeholder {
  color: var(--white, #fff);
}
.footer-form-input:focus {
  border: 1px solid #4d5ae5;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media only screen and (max-width: 767.98px) {
  .footer-form {
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
.label-class {
  width: 100%;
}
/* Mobile menu */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  padding: 24px 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767.98px) {
  .menu,
  .address-info {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.mobile-menu:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-line {
  display: block;
  font-family: Roboto, sans-serif;
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-line:active {
  color: var(--brand-color);
}
.email-tel-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.tel-number {
  font-family: Roboto, sans-serif;
  color: var(--ocean, #404bbf);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-adr {
  font-family: Roboto, sans-serif;
  color: var(--slate, #434455);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-mob-icon {
  display: flex;
  align-items: center;
  gap: 56px;
  flex-shrink: 0;
}
@media only screen and (max-width: 427.98px) {
  .tel-number {
    font-size: 24px;
  }
  .social-mob-icon {
    gap: 24px;
  }
}
